// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.errores {
  color: red;
  font-weight: bold;
}
.misdivs {
  background-color: red;
}
.pagina-principal {
  width: 1080px;
}